---
// Supports weights 100-900
import "@fontsource-variable/onest";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import Social from "../components/Social.astro";
import Navigation from "../components/Navigation.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Bienvenido a mi portafolio web, aquí podrás encontrar información sobre mí y mi trabajo en el mundo del desarrollo y la tecnología"
		/>
		<title>Portafolio Juan Camilo Gámez</title>
	</head>
	<body class="lg:grid lg:grid-cols-3 max-w-7xl mx-auto">
		<header
			class="p-8 lg:py-20 top-0 lg:sticky lg:h-screen flex flex-col gap-8 justify-between"
		>
			<Hero />
			<Navigation />
			<Social />
		</header>
		<main class="p-8 lg:py-20 lg:col-span-2 flex flex-col gap-16">
			<About />
			<Experience />
		</main>
	</body>
</html>

<style is:global>
	body {
		font-family: "Onest Variable", sans-serif;
	}
	h1 {
		@apply text-4xl;
		@apply font-extrabold;
	}

	h2 {
		@apply text-2xl;
		@apply font-bold;
	}
	h3 {
		@apply text-lg;
		@apply font-bold;
	}
	h4 {
		@apply text-base;
		@apply font-semibold;
	}
</style>
