---
// Supports weights 100-900
import "@fontsource-variable/onest";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import Social from "../components/Social.astro";
import Navigation from "../components/Navigation.astro";
// import Background from "../components/Background.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Bienvenido a mi portafolio web, aquí podrás encontrar información sobre mí y mi trabajo en el mundo del desarrollo y la tecnología"
		/>
		<title>Portafolio Juan Camilo Gámez</title>
	</head>
	<body class="lg:grid lg:grid-cols-3 max-w-7xl mx-auto">
		<header
			class="p-8 lg:py-20 top-0 lg:sticky lg:h-screen flex flex-col justify-between"
		>
			<Hero />
			<Navigation />
			<Social />
		</header>
		<main class="p-6 lg:py-18 lg:col-span-2 flex flex-col gap-12">
			<Experience />
			<About />
		</main>
	</body>
	<!-- <Background /> -->
</html>

<style is:global>
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body {
		font-family: "Onest Variable", sans-serif;
		@apply text-gray-800 fill-gray-800 bg-gray-100;
	}

	h1 {
		@apply text-4xl font-extrabold;
	}

	h2 {
		@apply text-2xl font-bold;
	}
	h3 {
		@apply text-lg font-bold;
	}
	h4 {
		@apply text-base font-semibold;
	}

	p {
		@apply text-base;
	}
</style>
