---
import Hero from "../components/Hero.astro";
import Navigation from "../components/Navigation.astro";
import "@fontsource-variable/onest";
import Social from "../components/Social.astro";
import Lightbox from "../components/Lightbox.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Bienvenido a mi portafolio web, aqui podrás encontrar información sobre mí y mi trabajo en el mundo del desarrollo y la tecnología"
		/>
		<title>Portafolio Juan Camilo Gámez</title>
	</head>
	<body class="lg:flex mx-auto max-w-5xl text-gray-900 fill-gray-900">
		<header
			class="flex flex-col justify-between flex-1 p-6 lg:py-24 gap-4 lg:sticky top-0 lg:h-screen"
		>
			<Hero />
			<!-- <Lightbox id="avatar" src="paravel.jpg" alt="imagen de paravel" /> -->
			<Navigation />
			<Social />
		</header>
		<main class="flex flex-col flex-1 p-6 gap-4 lg:py-24">
			<p>
				Mi nombre es Juan Camilo, pero mis amigos me dicen Paravel. Soy
				un Ingeniero de Sistemas al que le gusta la tecnologia y el
				desarrollo de software, y disfruto creanto y disenando
				aplicaciones y paginas web . Actualmente vivo en Barranquilla,
				Colombia Lorem ipsum dolor sit amet consectetur adipisicing
				elit. Voluptatibus sunt maxime odit perferendis nobis, corrupti
				consequuntur modi nostrum sed. Aliquam commodi vero facilis
				maxime aliquid illum voluptatibus nesciunt nostrum alias!
			</p>
			<p>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi
				error aperiam esse quos tempora, iste aspernatur veniam
				dignissimos voluptatem sequi eos quisquam tempore nam sapiente
				quae sunt! Esse, totam corporis?
			</p>

			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Dignissimos adipisci a maiores nobis laboriosam autem molestias
				praesentium distinctio unde quibusdam debitis fugiat, nostrum
				vero commodi laudantium eos omnis voluptas natus! Lorem ipsum
				dolor sit amet consectetur adipisicing elit. Cupiditate adipisci
				cumque, excepturi doloribus voluptates necessitatibus ipsum ab
				fugiat obcaecati soluta quam exercitationem possimus saepe
				expedita dolorum enim, iure consequatur optio?
			</p>

			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
				ipsa fugiat maxime, assumenda unde at cupiditate accusamus
				dolores est! Modi nobis nesciunt iure doloremque iusto
				consequatur eaque provident tenetur repudiandae.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
				ipsa fugiat maxime, assumenda unde at cupiditate accusamus
				dolores est! Modi nobis nesciunt iure doloremque iusto
				consequatur eaque provident tenetur repudiandae.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
				ipsa fugiat maxime, assumenda unde at cupiditate accusamus
				dolores est! Modi nobis nesciunt iure doloremque iusto
				consequatur eaque provident tenetur repudiandae.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
				ipsa fugiat maxime, assumenda unde at cupiditate accusamus
				dolores est! Modi nobis nesciunt iure doloremque iusto
				consequatur eaque provident tenetur repudiandae.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
				ipsa fugiat maxime, assumenda unde at cupiditate accusamus
				dolores est! Modi nobis nesciunt iure doloremque iusto
				consequatur eaque provident tenetur repudiandae.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
				ipsa fugiat maxime, assumenda unde at cupiditate accusamus
				dolores est! Modi nobis nesciunt iure doloremque iusto
				consequatur eaque provident tenetur repudiandae.
			</p>
		</main>
	</body>
</html>

<style is:global>
	* {
		box-sizing: border-box;
	}
	body {
		font-family: "Onest Variable", sans-serif;
	}
</style>
