<section class="flex flex-col gap-6">
    <h1>Sobre mí</h1>
    <p>
        Soy un desarrollador apasionado por construir experiencias digitales que
        sean tanto funcionales como atractivas. Me especializo en el desarrollo
        web, donde combino diseño intuitivo con soluciones robustas para crear
        interfaces que destacan tanto por su estética como por su rendimiento.
        Haskdfaiuwhawifwh
    </p>
    <p>
        He trabajado en proyectos que abarcan desde sitios web dinámicos y
        aplicaciones interactivas, hasta software especializado para empresas,
        diseñando soluciones adaptadas a necesidades específicas. Cada proyecto
        me ha permitido aprender, adaptarme y aplicar las mejores prácticas, con
        el objetivo de simplificar procesos y ofrecer resultados innovadores y
        de calidad.
    </p>
    <p>
        A lo largo de mi trayectoria, he tenido la suerte de colaborar en
        proyectos diversos, liderar equipos y mejorar mis habilidades. Disfruto
        al experimentar con ideas que conectan creatividad e ingeniería para
        resolver problemas del mundo real.
    </p>
    <p>
        En mi tiempo libre, me gusta hacer ejercicio para mantenerme activo y
        despejar la mente. También disfruto creando mods para Minecraft, un
        hobby que me permite aplicar lo que sé de programación mientras me
        conecto con una comunidad increíble.
    </p>
</section>
