---
const experiences = await Astro.glob("../experiences/*.md");
---

<section class="flex flex-col gap-12">
    <h2 class="font-bold text-3xl">Expeiencia Laboral</h2>
    {
        experiences.map((experience) => (
            <article class="group">
                <span class="font-semibold block">
                    {experience.frontmatter.from} - {experience.frontmatter.to}
                </span>
                <h3 class="font-bold text-2xl mt-2 inline-block">
                    {experience.frontmatter.title}
                </h3>

                <p class="font-semibold text-lg mb-2">
                    {experience.frontmatter.company}
                </p>
                <p class="text-xs">
                    <experience.Content />
                </p>
            </article>
        ))
    }
</section>
