---
import SectionContainer from "./SectionContainer.astro";

const experiences = await Astro.glob("../experiences/*.md");
---

<SectionContainer title="Experiencia Laboral">
    {
        experiences.map((experience) => (
            <article class="group pb-8">
                <span class="text-xs font-semibold">
                    {experience.frontmatter.from} - {experience.frontmatter.to}
                </span>
                <h3>{experience.frontmatter.title}</h3>

                <h4 class="mb-3">{experience.frontmatter.company}</h4>
                <experience.Content />
            </article>
        ))
    }
</SectionContainer>
