<section>
    <h1 class="mb-2">Juan Camilo <br /> Gámez Lara</h1>
    <h2 class="mb-3 text-xl">Ingeniero de Sistemas</h2>
    <p>
        Creador de experiencias digitales <br /> personalizadas para la web moderna
    </p>
</section>
