---
import Lightbox from "./Lightbox.astro";
---

<section class="flex gap-4">
  <div class="flex flex-col">
    <h1 class="mb-2 max-w-xs">Juan Camilo Gámez Lara</h1>
    <h2 class="text-lg mb-3">Ingeniero de Sistemas</h2>
    <p class="max-w-xs">
      Creador de experiencias digitales personalizadas para la web moderna.
    </p>
  </div>
</section>
