---
import Badge from "./Badge.astro";
import Contact from "./Contact.astro";
import Social from "./Social.astro";
---

<section class="flex flex-col gap-6 px-6 max-w-screen-md items-start">
    <img
        class="h-24 rounded-xl shadow-[0_0_50px_-12px_rgba(51,255,137,1)] border-2 border-green-200"
        src="paravel.jpg"
        alt=""
    />
    <div class="flex items-start gap-4 flex-wrap">
        <h1 class="text-4xl font-bold">Hola, Soy Paravel</h1>
        <Badge>Disponible</Badge>
    </div>
    <h2 class="text-xl">
        Mi nombre es Juan Camilo, pero mis amigos me dicen Paravel 🤣. Soy un
        <b>Ingeniero de Sistemas</b> al que le gusta la <b
            >tecnologia y el desarrollo</b
        > de software, y disfruto creanto y disenando <b
            >aplicaciones y paginas web</b
        >. Actualmente vivo en Barranquilla, Colombia
    </h2>
    <div class="flex gap-2 items-start">
        <Contact>Contactame</Contact>
        <Social site="GitHub" username="SrParavel" />
        <Social site="Instagram" username="juancamilo_gl" />
    </div>
</section>
