---
import Lightbox from "./Lightbox.astro";
---

<section class="flex gap-4">
  <div class="flex flex-col">
    <h1 class="text-5xl font-extrabold text-balance">Juan Camilo Gámez Lara</h1>
    <h2 class="text-lg font-bold mt-1">Ingeniero de Sistemas</h2>
    <p class="mt-2 text-balance">
      Creador de experiencias digitales personalizadas para la web moderna.
    </p>
  </div>
</section>
