<nav>
    <ul class="flex gap-4 justify-center p-4 font-semibold">
        <li><a href="/">Inicio</a></li>
        <li><a href="/sobre-mi">Sobre Mi</a></li>
        <li><a href="/proyectos">Proyectos</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>
