<nav class="hidden lg:inline">
  <ul>
    <li>
      <a href="#perfil">Perfil</a>
    </li>
    <li>
      <a href="#experiencia">Experiencia</a>
    </li>
    <li>
      <a href="#Proyectos">Proyectos</a>
    </li>
  </ul>
</nav>
