---
import GitHubIcon from "../icons/GitHubIcon.astro";
import InstagramIcon from "../icons/InstagramIcon.astro";
import WhatsAppIcon from "../icons/WhatsAppIcon.astro";
import LinkButtonPrimary from "./Forms/LinkButtonPrimary.astro";
import LinkButtonSecondary from "./Forms/LinkButtonSecondary.astro";
---

<section class="flex gap-2">
  <LinkButtonPrimary
    href="https://wa.me/573002776266?text=Hola, quiero crear mi pagina web!"
    >Contacto <WhatsAppIcon />
  </LinkButtonPrimary>
  <LinkButtonSecondary
    href="https://www.github.com/srparavel"
    aria-label="Ir al perfil de GitHub"><GitHubIcon /></LinkButtonSecondary
  >
  <LinkButtonSecondary
    href="https://www.instagram.com/juancamilo_gl"
    aria-label="Ir al perfil de Instagram"
    ><InstagramIcon /></LinkButtonSecondary
  >
</section>
