---
import LinkButton from "./LinkButton.astro";
import { Icon } from "astro-icon/components";
---

<section class="flex gap-2">
    <LinkButton
        class="text-sm"
        href="https://wa.me/573002776266?text=Hola, quiero crear mi página web! 🚀"
        aria-label="Contacto"
        >Contacto
        <Icon class="size-5" name="mdi:whatsapp" /></LinkButton
    >
    <LinkButton
        href="https://www.github.com/srparavel"
        variant="secondary"
        aria-label="GitHub"
        ><Icon class="size-5" name="mdi:github" />
    </LinkButton>
    <LinkButton
        href="https://www.instagram.com/juancamilo_gl"
        variant="secondary"
        aria-label="Instagram"
        ><Icon class="size-5" name="mdi:instagram" /></LinkButton
    >
</section>
